@import 'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.button, .login-button {
    padding: .4rem 1rem;
    border-radius: 30px;
    border: none;
    font-weight: 900;
    display: inline-block;
    cursor: pointer;
    outline: none;

    &--primary {
        color: #fff;
        background: $color-primary;
    }
}

.filter {
    font-weight: 400;
    font-size: 1.2rem;
}



.globalState-isHidden {
    display: none;
}

.page {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

.logo {
    font-size: 2.1rem;
    font-weight: 700;
}

.contentArea {
    background: #ECECEC;
}

.topArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.login {
    display: flex;
    align-items: center;
    
    &-greeting {
        font-weight: 400;
    }
    
    &-profilePicture {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 1rem;
    }

    &-button {
        margin-left: 1rem;
    }
}

.clock {
    font-size: 1.8rem;
    font-weight: 900;
}

.mainArea {
    display: grid;
    grid-template-columns: 2fr .1fr 1.5fr;
    padding: 0 2rem;
    
    &-item:nth-child(1) {
        grid-column: 1/span 1;
    }
    &-item:nth-child(2) {
        grid-column: 3/span 1;
    }

    &-itemHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h1,h2,h3,h4 {
            font-weight: 900;
        }
    }

    &-itemBody {
        background: #fff;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.03);
        // max-height: 82vh;
    }
}










