@import 'config';

.projectList {
    user-select: none;
    li {
        display: grid;
        grid-template-columns: repeat(3, 1fr) .1fr;
        grid-template-rows: auto 1fr;
    }
    span {
        display: flex;
    }
    

    .header {
        padding: 0 1.5rem .5rem 1.5rem;
    }
}